@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Oswald", sans-serif;
}

body {
  width: 90%;
  margin: 0 auto;
}

main{
   text-align: center;
}

h1 {
  margin-bottom: 50px;
}
